client: {{ inventory_hostname }}
tree: {{ item.path_to_include_in_backup }}
image-default: {{ item.naming_scheme | default('%Y%m%d-%H%M%S') }}
{% if item.exclude is defined %}
exclude:
        {{ item.exclude | indent(width=8) }}
{% endif %}
expire-default: +2 weeks
expire-rule:
#MIN    HR      DOM     MON             DOW     STRFTIME_FMT
 *      *       *       *               1       +1 month
